html{
	background-color:black;
}
header{
	border-bottom: 2px soild #00FFFF;
}
header img{
	width: 40%;
	padding-left:30%;
}
header h1{
	font-size: 2em;
	font-family: Consolas;
	color: #DB0000;
	text-align: center;
}
header h1 Capital {
	font-size: 2.3em;
	color: #09FFFF;
}
header h2{
	font-size: 120%;
	font-weight: bold;
	font-family: Consolas;
	color: #09FFFF;
	padding: .5em;
	text-align: center;
}
body {
	margin:15 px auto;
}

h2{
	font-size: 120%;
	font-weight: bold;
	font-family: Consolas;
	color: #09FFFF;
	padding: .5em;
}
h3{
	font-size: 110%;
	font-weight: bold;
	font-family: Consolas;
	color: #09FFFF;
	padding: .5em;
}
nav{
	border-bottom: 2px soild #00FFFF;
	margin-bottom:5em;
}
nav ul { padding: 0; list-style: none; }
nav>ul>li { float: left; position: relative; }
nav ul ul {
  display: none;
  position: absolute;
  top: 100%; left: 0;
}
nav ul ul ul { top: 0; left: 100%; }
nav li:hover>ul { display: block; }
nav ul ul {
  min-width: 13em;
  box-shadow: inset 0 0 2px;
}
nav li {
  min-width: 10em;
  text-decoration: none;
  font-family: Consolas;
}
nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
}
nav>ul>li {
  margin: 0 1px;
  background: linear-gradient(#00FFFF, #DB0000);
}
nav ul ul li{
	margin: 0 1px;
	background: linear-gradient(#00FFFF, #DB0000);
}
nav>ul>li:hover {
  background: linear-gradient(#09FFFF, #DB0090);
  
}
nav>ul>li>a {
  color: black;
  text-align: center;
  text-transform: uppercase;
}
nav ul ul a {
  color: black;
}
nav ul ul li:hover {
  background: linear-gradient(#09FFFF, #DB0090);
  color: black;
}
/* CSS for the Main*/
main{
	font-family:Consolas;
	color: #DB0000;
	border-top: 2px solid #09FFFF;
	border-bottom: 2px solid #09FFFF;
}
main section {
	border: 2px solid #09FFFF;
}
main section img{
	width: 200px;
}
main section h3{
	font-family: Consolas;
	color:#DB0000;
	font-size: 1.2em;
	border-bottom: 1px solid #09FFFF;
}
main section h4{
	font-family: Consolas;
	color:#DB0000;
	font-size: 1.1em;
}

/*CSS for the Aside Navigation*/
#AsideNav{
	float:left;
	width: 200px;;
	border-right:2px soild #DB0000;
	background-color:#005e9e;
}
#AsideNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #005e9e;
}
#AsideNav li{
	padding-bottom: .5em;
}

#AsideNav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
#AsideNav li a:hover {
    background-color: #555;
    color: #09FFFF;
}
#AsideNav li a figure img{
	border: 1px solid #DB0090;
	padding: 5px;
	width: 110px;
}
/*CSS for the Aside on the Right*/
#AsideRight{
	float:right;
	width: 20%;
	border-left:2px soild #DB0090;
	background-color: #005e9e;
	height: 958px;
}
#AsideRight p{
	text-align: left;
	padding: 1em;
	color: white;
}
#AsideRight a{
	color: #09FFFF;
}
/*CSS for the center Article*/
#Article{
	float: left;
	width:60%;
}
#Article p{
	text-align: left;
	padding: 1em;;
}
/*CSS for the Footer*/
footer{
    font-family:Consolas;
	color: #DB0000;
	text-align: center;
	font-size: 1.4em;
}
/*I don't think you're supposed to be here...unless you're the TV repairman and you're here to fix the TV*/